{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% set active_page = "home" %}
{% block content %}
{{ super () }}

<div class="jumbotron jumbotron-fluid my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/img/logo.svg" style="width:100%"/>
      </div>
      <div class="col-md-8">
         <h1 class="display-3">{{ contents.name }}</h1>
         <div class="lead">{{ contents.tagline }}</div> 
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-6">
    <h3>Overview</h3>
      {{ contents.overview }}
  </div>

  <div class="col-6">
     <h3 class="my-3"><span class="badge badge-info">Upcoming Events</span></h3>
     <ul>
         {% for item in contents.upcoming_events %}
            <li>{{ item }}</li>
         {% endfor %}
     </ul>
     <h3 class="my-3"><span class="badge badge-info">People</span></h3>
  </div>

</div> 


{% endblock %}
